/* Custom Prism Theme for Qruns */
code[class*="language-"],
pre[class*="language-"] {
	color: #e6edf3;
	background: none;
	font-family: 'Fira Code', 'Consolas', monospace;
	font-size: 0.9rem;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: break-word;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1rem;
	margin: 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: transparent;
}

/* Tokens */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8b949e;
}

.token.punctuation {
	color: #e6edf3;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #79c0ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a5d6ff;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #ff7b72;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #ff7b72;
}

.token.function,
.token.class-name {
	color: #d2a8ff;
}

.token.regex,
.token.important,
.token.variable {
	color: #ffa657;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
